<main>
  <div class="main-content">
    <div class="name-room">
      <h1># | Jawa Barat</h1>
    </div>
    <div class="content" id="messageArea"></div>
    <form class="text-form" id="chatForm">
      <input
        type="text"
        id="messageInput"
        placeholder="Message"
        autocomplete="off"
      />
    </form>
  </div>
</main>
