<main>
    <div class="main-content">
      <div class="content">
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
        <h1>saxjas</h1>
      </div>
      <form action="" class="text-form">
        <input type="text" placeholder="Massage" />
      </form>
    </div>
  </main>