<div class="details-transaction-container">
    <div class="id">
        Transaction ID : 8eu12suhaude
    </div>
    <div class="status">
        Status : <span class="status-transaction">Pending</span>
    </div>
    <div class="request-by">
        REQUEST BY : YOU
    </div>
    <div class="receive-by">
        RECEIVE BY : NOT SET
    </div>
    <div class="book-transc">
        <h1>
            YOUR BOOK : Re Zero
        </h1>
        <h1>
            RECEIVER BOOK : <span>Waiting</span>
        </h1>
    </div>
    <div class="expedition">
        EXPEDITION : <span>Waiting</span>
    </div>
    <div class="receipt">
        <h1>YOUR RECEIPT NUMBER : <span>Waiting</span></h1>
        <h1>RECEIVER RECEIPT NUMBER : <span>Waiting</span></h1>
    </div>
    <div class="tracking">
        <h1>YOUR BOOK LOCATION: <span>Waiting</span></h1>
        <h1>RECEIVER BOOK LOCATION: <span>Waiting</span></h1>
    </div>
</div>