<!DOCTYPE html>
<html lang="en">
 <head>
  <title>
   <%- title %>
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  <style>
   body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1e1f22;;
        }
        .back i {
            margin-left: 3rem;
            margin-top: 2rem;
            font-size: 4rem;
            font-weight: bold;
            color: #54b0fc;
        }
        .back i:hover {
            color: #3f84bd;
            transition: all 0.5s ease-in-out;
        }
        .meta a {
            text-decoration: none;
            color: #54b0fc;
        }
        .meta a:hover {
            color: #ccc;
        }
        .container {
            display: flex;
            padding: 20px;
            background-color: #37383a;
            max-width: 900px;
            margin: 20px auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: #fff;
        }
        .book-cover {
            flex: 1;
            padding-right: 20px;
        }
        .book-cover img {
            width: 100%;
            border-radius: 10px;
        }
        .book-details {
            flex: 2;
        }
        .book-details h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        .book-details p {
            margin: 5px 0;
        }
        .book-details .meta {
            display: flex;
            flex-wrap: wrap;
        }
        .book-details .meta p {
            flex: 1;
            margin: 5px 0;
        }
        .book-details .meta p span {
            font-weight: bold;
        }
        .book-details .actions {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }
        .book-details .actions a {
            margin-left: 10px;
            text-decoration: none;
            color: #007bff;
            font-size: 14px;
        }
        .book-details .actions a i {
            margin-right: 5px;
        }
        .description {
            margin-top: 20px;
        }
        .description h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .description p {
            text-align: justify;
            line-height: 1.6;
        }
        .direct-msg-form {
        background: linear-gradient(180deg, #71624f 40%, #111214 30%);
        width: 20%;
        height: 50vh;
        padding: 0.6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 8px;
      }
      .top-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0.5rem;
        color: #ffffff;
      }
      .top-section img {
        width: 5vw;
        border-radius: 50%;
        border: 5px solid #1e1f22;
      }
      .bottom-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
        color: #ffffff;
      }
      .bottom-section a {
        text-decoration: none;
        width: 100%;
        padding: 0.5rem;
        text-align: center;
        border-radius: 4px;
        background-color: #2f9e44;
        color: #fff;
        font-size: 0.9rem;
        font-weight: 500;
      }
      .bottom-section h1 {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .bottom-section h1:nth-child(1) {
          margin-bottom: -1rem;
      }
      .bottom-section a:hover {
        background-color: #248046;
        transition: 0.3s all ease;
      }
      .bottom-section form {
        width: 104%;
        display: flex;
        justify-content: center;
      }
      .bottom-section input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 4px;
        border: none;
        outline: none;
        background-color: #313338;
        color: #fff;
      }
      .bottom-section input::placeholder {
        text-align: center;
      }
  </style>
 </head>
 <body>
    <%- body %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const owner = document.getElementById('owner');
        const ownerName = document.querySelector('#owner a').textContent
        
const dmForm = document.getElementById('dmForm');
const dmMsgInput = document.getElementById('directMessageInput');
const targetUsernameInput = document.getElementById('targetUsername');
const dmFormContainer = document.querySelector('.direct-msg-form');

    let userForm;


axios.get('/getUser',{
        params: {
            ownerName: ownerName
        }
    })
    .then(response => {
        const user = response.data;
        console.log(user);
        userForm = user;

    })
    .catch(error => {
        console.error(error);
    })
owner.addEventListener('click', (e) => {
    e.stopPropagation(); 
    

    dmFormContainer.style.display = 'flex';
    getAllChats(userForm);
    document.addEventListener('click', hideForm);
});

dmForm.addEventListener('submit', (e) => {
    e.preventDefault();
    const message = dmMsgInput.value;
    const targetUsername = targetUsernameInput.value;

    fetch('/directMessage', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            chat: message,
            targetUsername: targetUsername,
        })
    })
    .then(response => response.json())
    .then(data => {
        console.log('Pesan berhasil dikirim:', data);
    })
    .catch(error => {
        console.error('Gagal mengirim pesan:', error);
    });
    dmFormContainer.style.display = 'none';
    document.removeEventListener('click', hideForm); 
});

function getAllChats(userForm) {
    const dmForm = document.querySelector('.direct-msg-form');
    const displayNameField = dmForm.querySelector('h1:nth-child(1)');
    const usernameField = dmForm.querySelector('h1:nth-child(2)');
    const messageInput = dmForm.querySelector('input[type="text"]');
    const targetUsernameInput = document.getElementById('targetUsername');
    const imgProfile = document.querySelector('.top-section img');
    const profileNav = document.querySelector('.bottom-section a');



            // const displayName = chat.dataset.displayname;
            // const username = chat.dataset.username;

            displayNameField.textContent = userForm.data.displayName;
            usernameField.textContent = userForm.data.username;
            messageInput.placeholder = `Message @${userForm.data.username}`;
            targetUsernameInput.value = userForm.data.username;
            profileNav.href = `/profileUser/${userForm.data.username}`

            imgProfile.src = userForm.data.avatar ? `/${userForm.data.avatar.replace(/\\/g, '/')}` : 'img/icon.jpg';


            dmForm.style.display = 'flex';

}

function hideForm(e) {
    if (!dmFormContainer.contains(e.target) && e.target !== owner) {
        dmFormContainer.style.display = 'none';
        document.removeEventListener('click', hideForm); 
    }
}

    </script>
 </body>
 </html>