<aside class="nav-aside">
        
    <div class="nav-container">
        <h1><i class='bx bx-cog'></i>  Settings</h1>
        <div class="nav-menu">
            <div class="menu">
                <a href="/account"><h3># | Account</h3></a>
            </div>
            <div class="menu">
                <a href="/profilePage"><h3># | Profile Page</h3></a>
            </div>
            <div class="menu">
                <h3># | menu 1</h3>
            </div>
            <div class="menu">
                <h3># | menu 1</h3>
            </div>
            <div class="menu">
                <h3># | menu 1</h3>
            </div>
            <div class="menu">
                <h3># | menu 1</h3>
            </div>

        </div>
        
    </div>
    
</aside>