<div class="room-container">
  <div class="room-title">
    <h1>City Room</h1>
  </div>

  <div class="rooms" id="cityRoomList">

  </div>
    <div class="profile-icon">
      <div class="left-icon">
        <img src="<%- users.avatar || 'img/icon.jpg' %>" alt="Profile" />
        <div class="left-text">
          <h1><%- user.username %></h1>
          <p>Online</p>
        </div>
      </div>
      <div class="right-icon">
        <a href="/settings"><i class="bx bx-cog"></i></a>
      </div>
    </div>
  </div>