<div class="room-container">
  <div class="room-title">
    <h1>City Room</h1>
  </div>

  <div class="rooms" id="cityRoomList">
    <!-- Daftar kota akan muncul di sini -->
  </div>
    <div class="profile-icon">
      <div class="left-icon">
        <img src="img/icon.jpg" alt="Profile" />
        <div class="left-text">
          <h1>Name</h1>
          <p>Online</p>
        </div>
      </div>
      <div class="right-icon">
        <i class="bx bx-cog"></i>
      </div>
    </div>
  </div>