    <form action="/login" method="post">
        <h1>Welcome Back!</h1>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" required name="email">
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" required name="password">
        </div>
        <button type="submit">Submit</button>
        <span>Need an account? <a href="/register">Register</a></span>
    </form>
