
    <form action="/register" method="post">
        <h1>Register</h1>
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" required name="username">
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" required name="email">
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" required name="password" id="password">
        </div>
        <div class="input-group">
            <label for="confirm-password"> Confirm Password</label>
            <input type="password" required name="confirm-password" id="confirm-password">
            <h1>Password must match!</h1>
        </div>
        <button type="submit">Submit</button>
        <span>Already have an account? <a href="/login">Login</a></span>
    </form>